<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}passwords{% endblock %}</title>
        <meta name="description" content="password storage application">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="pure-g-r">
            <!-- sidebar menu -->
            <div class="pure-u" id="menu">
                <div class="pure-menu pure-menu-open pure-menu-vertical">
                    <a class="pure-menu-heading" href="#">pypass</a>
                    <ul>
                        <li><a href="{{ url_for('create_user') }}">create user</a></li>
                    {% if current_user.is_authenticated() %}
                        <li><a href="{{ url_for('create_entry') }}">create entry</a></li>
                        <li><a href="{{ url_for('list_entries') }}">list entries</a></li>
                        <li><a href="{{ url_for('profile') }}">user profile</a></li>
                        <li><a href="{{ url_for('logout') }}">logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">login</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
            <!-- end sidebar menu -->

            <!-- main content-->
            <div id="content" class="pure-u-1">
                {% block content %}
                {% endblock %}
            </div>
            <!-- end main content-->
        </div>

    </body>
</html>
